---

import HomeLayout from '../../layouts/MainLayout.astro';
import SearchForm from '../../components/Search/SearchForm';
import AiMovieList from '../../components/Movies/AiMovieList';

const search = Astro.url.searchParams.get("search") ?? "";
const title = `Search results for "${search}"`;
const description = `Search results for "${search}"`;
const keywords = `search, ${search}`;
const url = new URL(Astro.url);
const baseUrl = url.origin;

---

<HomeLayout title={title} meta={{
	title: title,
	description: description,
	keywords: keywords,
}}>
  <section class="p-8" transition:animate="fade">
    <div class="w-full max-w-7xl flex flex-col md:flex-row items-center gap-2 mx-auto overflow-hidden">
      <a href={`${baseUrl}/beta`} class="p-4">
        <h1 class="text-white font-openSans font-extrabold text-2xl md:text-4xl md:min-w-[231px]">Astro Movies</h1>
      </a>
      <SearchForm search={search} />
    </div>
    <AiMovieList client:visible search={search} baseUrl={baseUrl} />
</HomeLayout>